.bloco5 {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    height: 530px;
    background-color: black;
}

.imagem-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 530px;
    background-image: url(../../img/blog.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#texto-blog {
    text-decoration: none;
    border: solid rgba(0, 0, 0, 1) 3px;
    background-color: black;
    border-radius: 35px;
    width: 309px;
    height: 77px;
    color: #FFF;
    font-family: "Jura", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 118.418%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#arrow-position {
    position: absolute;
    bottom: 20px;
    right: 15px;
}

/* ----------- Responsivo Tablet ----------- */
@media (max-width: 992px) {
    .imagem-blog {
        height: 450px;
        background-size: cover;
    }

    .bloco5 {
        height: 450px;
    }

    #texto-blog {
        font-size: 20px;
        width: 250px;
        height: 65px;
    }

    #arrow-position {
        width: 40px;
        right: 10px;
        bottom: 15px;
    }
}

/* ----------- Responsivo Telemóvel ----------- */
@media (max-width: 576px) {
    .imagem-blog {
        height: 300px;
    }

    .bloco5 {
        height: 300px;
    }

    #texto-blog {
        font-size: 18px;
        width: 200px;
        height: 55px;
    }

    #arrow-position {
        width: 30px;
        right: 5px;
        bottom: 10px;
    }
}
