.bloco4 {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    height: 450px;
    background-color: rgba(236, 230, 202, 255);
}

.imagem-destinos {
    width: 100%;
    height: 450px;
    background-image: url(../../img/secroad.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* Melhor para responsividade */
}

#texto-destinos {
    font-family: "Jura", sans-serif;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    padding: 7% 20% 3% 15%;
    font-size: 30px;
    width: 650px;
    align-self: center;
}

#botao-explorar {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    border: solid rgba(0, 0, 0, 1) 3px;
    border-radius: 35px;
    margin: 0% 30% 0% 30%;
    padding: 2% 0%;
    font-size: 25px;
    display: inline-block;
}

#arrow-up-bk {
    position: absolute;
    display: flex;
    bottom: 20px;
    right: 15px;
}

/* ----------- Responsivo Tablet ----------- */
@media (max-width: 992px) {
    .bloco4 {
        flex-direction: column;
        height: auto;
    }

    .imagem-destinos {
        height: 300px;
        background-size: cover;
    }

    #texto-destinos {
        font-size: 24px;
        padding: 10% 10% 3% 10%;
        width: 100%;
    }

    #botao-explorar {
        font-size: 20px;
        margin: 0 25% 7%;
        padding: 1.5% 30px;
    }

    #arrow-up-bk {
        width: 40px;
        right: 10px;
        bottom: 10px;
    }
}

/* ----------- Responsivo Telemóvel ----------- */
@media (max-width: 576px) {
    .imagem-destinos {
        height: 200px;
    }

    #texto-destinos {
        font-size: 20px;
        padding: 10% 8%;
    }

    #botao-explorar {
        font-size: 18px;
        margin: 0 20% 30px;
        padding: 1rem 0;
    }

    #arrow-up-bk {
        width: 30px;
        right: 5px;
        bottom: 5px;
    }
}
