*{
    margin: 0px 0px 0px 0px;
}

.navbar {
	padding: 20px 50px;
  }
  
  .navbar-brand {
	font-size: 2em;
	font-weight: bold;
  }
  
  .nav-link {
	color: black !important;
	margin-left: 20px;
	font-size: 1.2rem;
	font-weight: 600;
  }