/* ---------------------- */
/* BASE STYLES */
/* ---------------------- */
body {
    margin: 0;
    font-family: 'Jura', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black !important;
}

.bloco1 {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    max-height: 1024px;
    background: 
        linear-gradient(rgba(48, 48, 48, 0.8)),
        url("../../img/bussola.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.form-section {
    margin-top: 100px;
}

/* ---------------------- */
/* RESPONSIVE STYLES */
/* ---------------------- */

/* ----------- Responsivo Tablet ----------- */
@media (max-width: 992px) {
    .container {
        padding: 30px;
    }
    .text-right {
        text-align: left;
        margin-top: 30px;
    }
}

/* ----------- Responsivo Telemóvel ----------- */
@media (max-width: 576px) {
    .container {
        padding: 20px;
        flex-direction: column;
    }
    .form-section {
        margin-top: 50px;
    }
}
